@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: blue;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(159, 211, 253); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #0277bd; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

